body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #fff;
  font-family: Raleway, sans-serif;
  font-weight: normal;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
  margin: 0;
  padding:0;
}

.black_text {
  color: black;
  font-style: regular;
}

.wight_text {
  color:#fff;
  font-style: regular;
}

.header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 90px 50px;
}

.header_menu {
  display: flex;
  margin-right: auto;
  flex-direction: row;
  gap: 13px;
  margin-bottom: 7px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  gap: 18px;
  list-style: circle;
}

.first {
  list-style: none;
}

.header__links-list-item {
  margin-right: 12.52px;

}

.header__link {
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.header__link_active .header__link {
  text-decoration: none;
}

.header_logo {
  display: block;
  margin: 2px 0 6px;
}

.header__logo-image {
  display: block;
  height:105px;
  width: 148px;

}

.address {
  width: 1fr;
  max-width: 240px;
  justify-self: end;
  font-style: normal;
  margin-bottom: 6px;
}

.header_address {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-style: regular;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
}

.header_address .a {
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 1px;
}

.main {
  display: grid;
}

.overlay {
  background-color: rgb( 0 0 0 / 0.6);
  position: absolute;
  inset:0;
  z-index: 1;

}
.cover {
  display: flex;
  flex-direction: column;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  min-height: 757px;
  margin-bottom: 180px;
  padding: 165px 50px 0px 50px;
  width: 100%;
  position: relative;
  z-index: 0;
}

.cover_title {
  text-transform: uppercase;
  z-index: 2;
  display: grid;
  grid-template-columns: repear(3, 1fr);
  grid-template-rows: reprat(3, 1 fr);
  grid-template-areas: 
    'cover_title_ono . .'
    '. cover_title_tebe .'
    '. . cover_title_nado';
}

.cover_title-text {
  font-style: bold;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 30px;

}

.text_ono {
  grid-area: cover_title_ono;
}

.text_tebe {
  justify-self: center;
  grid-area: cover_title_tebe;
}

.text_nado {
  justify-self: center;
  grid-area: cover_title_nado;
}

.description {
  display: flex;
  flex-direction: row;
  z-index: 2;
  justify-content: space-between;
  align-content: center;
  margin-top: 138px;
}

.description_p {
  font-style: regular;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 28px;
  word-spacing: 19px;
  margin-top: 12px;
}

.bet-button {
  border-color: #fff;
  background-color: rgb( 0 0 0 / 0);
  color: #fff;
  width: 256px;
  height: 51px;
  border-width: 1px;
  text-transform: uppercase;
  font-family: Raleway;
  font-weight: 500;
  font-style: Medium;
  font-size: 22px;
  text-align: center;
}

.lots {
  margin: 0 24px 120px;
  padding: 0 0px 2px;
}

.lots_heading {
  font-family: Raleway;
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  text-transform: uppercase;
  margin: 0 0 26px 40px;
}

.card {
  width: 334px;
  min-height: 596px;
  background-size: cover;
  background-position: center;
  display: flex;
  position: relative;
}

article {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100%;

}

.card__title {
  font-family: Raleway;
  font-weight: 700;
  font-style: Bold;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: solid;
}

.card__title-text {
  z-index: 2;
  margin: 48px 40px;
}

.card__text {
  position: absolute;
  bottom: 0;
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 120%;
}

.lots_card-list {
  display: flex;
  flex-direction: row;
  gap: 25px;
  justify-content: center;
  margin-bottom: 30px;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");

}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.lots_look-more-link {
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  margin-left: 40px;
}
.about {
  margin: 0 24px 180px 24px;
  display: grid;
  grid-template-columns: 334px auto;
  gap: 25px;

}

.about_logo {
  display: flex;
  height: 240px;
  width: 240px;
  border-radius: 50%;
  margin-top: 35px;
  background-color: black;
  justify-self: center;
  justify-content: center;
  align-items: center;
  align-content: center;

}

.about_logo-image {
  height: 114px;
  width: 148px;

}

.about_title {
  margin-top: 136px;
  margin-bottom: 97px;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
}

.about_column {
  display: flex;
  flex-direction: column;
  gap: 24px;

}

.about_text {
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 24px;
}

.footer {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: auto;
  align-items: center;
  padding: 0 50px 82px 50px;
}

.footer_address {
  display: flex;
  flex-direction: column;
  justify-self: start;
  max-width: 240px;
  font-style: normal; 
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
}

.footer_address .a {
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 1px;
}

.footer__links-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-bottom: 33px;
  list-style: none;
  text-align: center;
}

.footer__link {
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.footer__link_active .footer__link {
 text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  justify-content: flex-end;
  margin-bottom: 49px;
}
.footer__social-list-item {
  display: inline;
  text-decoration: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
